<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Niuniu_Judger.mapper.ProjectMapper">

    <insert id="insertProject" parameterType="com.example.Niuniu_Judger.model.Project">
        INSERT INTO project (github_id, name, full_name, html_url, description, stars, forks, watchers)
        VALUES (#{githubId}, #{name}, #{fullName}, #{htmlUrl}, #{description}, #{stars}, #{forks}, #{watchers})
    </insert>

    <update id="updateProject" parameterType="com.example.Niuniu_Judger.model.Project">
        UPDATE project
        SET name = #{name},
            full_name = #{fullName},
            html_url = #{htmlUrl},
            description = #{description},
            stars = #{stars},
            forks = #{forks},
            watchers = #{watchers}
        WHERE github_id = #{githubId}
    </update>

    <select id="selectProjectByGitHubId" resultType="com.example.Niuniu_Judger.model.Project">
        SELECT * FROM project WHERE github_id = #{githubId}
    </select>

</mapper>
